NAV{
		height:64px;
		width:100%;
		float:right;
		border:2px solid #800000;
		background-image:url("stars.jpg");
	}
	
NAV ul {
	margin: 0px auto;
	padding: 16px;
	list-style-type: none;
}
NAV li {
	display: inline;

}

NAV li a {
	float: left;
	text-align: center;
	border-right: 3px solid #008000;
        width: 156px;  
        font-size: 20px; 
	
	color:#00ffff;
	text-decoration: none;
}

NAV li a:hover {
	color:#008000;

}

		


	
		

		#menu p {
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}
#menu p {
	text-align: left;
}
.S {
	font-size: xx-large;
}
